python-pptx~=0.6.23
pip~=25.0.1
pathlib~=1.0.1
configparser~=7.1.0
pillow~=11.1.0
filelock~=3.17.0
PyMuPDF~=1.25.3
python-docx~=1.1.2
watchdog~=6.0.0
requests~=2.32.3
pandas~=2.2.3
keybert~=0.9.0
PySide6~=6.8.2.1
pycryptodome~=3.21.0
openpyxl